<div class="top-navHeight">
    <div class="top-navbar">
        <ul class="d-flex">
            <li>Home</li>
            <li > <a href="#about">About</a> </li>
            <li><a href="#resume">Resume</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
</div>

<div class="bannerpage">
    <div class="row">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 side-text">
<div><h4 id="headerText">I'm Shivlila Gandage</h4>
    <p id="headerParagraph">Front-End Developer</p> </div> 
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 myimgclass">
    <div class="d-grid"><img src="/assets/Shivlila-photo.jpg" >
        <h5 class="mt-2">Shivlila Gandage</h5></div>
</div>

    </div>
</div>
<div class="aboutMetext" id="about">
<h3>About Me</h3>
<p>     I’m a UI Devloper in Amnet Digital pvt Ltd, Hyderabad, with over two years of experience in front-end development. I love turning complex problems into simple and attractive designs.
</p>

<p>
  I specialize in creating user-friendly websites that are both functional and visually appealing. My skills include Angular, Vue, HTML, CSS, Bootstrap, SQL, and JavaScript, and I’m currently learning React.
</p>
<p>
  My goal is to make your brand stand out by delivering designs that communicate your message clearly and effectively. I've worked with well-known brands and am excited to help bring your vision to life.        </p>

  <section class="service mt-2">

    <h3 class="h3 service-title">What i'm doing</h3>

    <ul class="service-list">

      <li class="service-item leftItem">

        <div class="service-icon-box">
          <img src="/assets/icon-design.svg" alt="design icon" width="40">
        </div>

        <div class="service-content-box">
          <h4 class="h4 service-item-title">Web design</h4>

          <p class="service-item-text">
            The most modern and high-quality design made at a professional level.
          </p>
        </div>

      </li>

      <li class="service-item rightitem">

        <div class="service-icon-box">
          <img src="/assets/icon-dev.svg" alt="Web development icon" width="40">
        </div>

        <div class="service-content-box">
          <h4 class="h4 service-item-title">Web development</h4>

          <p class="service-item-text">
            High-quality development of sites at the professional level.
          </p>
        </div>

      </li>

    </ul>

  </section>
  <section class="clients">

    <h3 class="h3 clients-title">Clients</h3>

    <ul class="clients-list has-scrollbar">

      <li class="clients-item">
        <a href="https://www.augmentedai.ai/" target="_blank">
          <img src="/assets/augmented-logo.png" alt="client logo">
        </a>
      </li>

      <li class="clients-item">
        <a href="#">
          <img src="/assets/seedworks-img.jpg" alt="client logo">
        </a>
      </li>

      <li class="clients-item">
        <a href="#">
          <img src="/assets/dws-bg-img.png" alt="client logo">
        </a>
      </li>

      <li class="clients-item">
        <a href="#">
          <img src="/assets/asset-iq-bg-img.jpg" alt="client logo">
        </a>
      </li>
      <li class="clients-item">
        <a href="#">
          <img src="/assets/eye-icon-iksa.jpg" alt="client logo" width="150px" height="100px">
        </a>
      </li>

    </ul>

  </section>
</div>

<div class="resumeClass" id="resume">
<h3>Resume</h3>

<section class="timeline">

    <div class="title-wrapper">
      <div class="icon-box">
      </div>

      <h3 class="h3">Education</h3>
    </div>

    <ol class="timeline-list">

      <li class="timeline-item">

        <h4 class="h4 timeline-item-title">Visvesvaraya Technological University (VTU) </h4>
        <span>Bheemanna Khandre Institute of Technology (GPA: 8.00 / 10.00)</span>
        <span>2018 — 2022</span>

      </li>


   

    </ol>

  </section>

  <section class="timeline">

    <div class="title-wrapper">
      <div class="icon-box">
      </div>

      <h3 class="h3">Experience</h3>
    </div>

    <ol class="timeline-list">

      <li class="timeline-item">

        <h4 class="h4 timeline-item-title">Amnet Digital pvt Ltd</h4>

        <span>2022 — Present</span>

        <p class="timeline-text">
          <b>Software Engineer Hyderabad, Telangana</b>
        </p>
<li>Developed and maintained web applications using Angular and Vue.js, leading to a 15% improvement in user
satisfaction scores.</li>
<li>Collaborated with design teams to translate UI/UX designs into functional web interfaces.</li>
<li>Participated in code reviews and contributed to team discussions to improve code quality and project efficiency.</li>
    <li>Gained experience with Git for version control, including branching and collaboration on GitHub.</li>
    <li>Learned basic database management and query writing using MS SQL.</li>

     

    </ol>

  </section>

  <section class="skill">

    <h3 class="h3 skills-title">My skills</h3>

    <ul>

     

      <li><b> Frontend Technologies :</b> Angular, Vue.js, React (beginner), HTML5, CSS3 (including Flexbox and Grid), JavaScript (ES6+)</li> 
      <li> <b> Database :</b> MS SQL (basic knowledge)</li>
        <li><b>Version Control :</b> Git Proficiency- Familiar with branching, merging, and pull requests</li>
       <li> <b>Problem-Solving :</b> Experienced with JavaScript coding challenges</li>
    
    </ul>

  </section>
</div>

<div class="blogPage" id="blog">
    <h3>Blogs</h3>

    <section class="blog-posts">
    
        <ul class="blog-posts-list">
  
          <li class="blog-post-item">
            <a href="#">
  
              <figure class="blog-banner-box">
                <img src="/assets/web-devlopemt-img.webp" alt="Introduction to Web Development" loading="lazy">
              </figure>
  
              <div class="blog-content">
  
                <div class="blog-meta">
                  <p class="blog-category">Development</p>
  
                  <span class="dot"></span>
  
                </div>
  
                <h3 class="h3 blog-item-title">Introduction to Web Development</h3>
  
                <p class="blog-text">
                  Learn the basics of HTML, CSS, and JavaScript to build your first website.
                </p>
  
              </div>
  
            </a>
          </li>
  
          <li class="blog-post-item">
            <a href="#">
  
              <figure class="blog-banner-box mb-0">
                <img src="/assets/css-grid-img.webp" alt="CSS Grid vs Flexbox" loading="lazy">
              </figure>
  <div class="d-grid justify-content-center">
              <div class="blog-content">
  
                <div class="blog-meta">
                  <p class="blog-category">Design</p>
  
                  <span class="dot"></span>
  
                </div>
  
                <h3 class="h3 blog-item-title">CSS Grid vs Flexbox</h3>
  
                <p class="blog-text">
                  Explore the key differences between CSS Grid and Flexbox and when to use each.
                </p>
  
              </div>
            </div>
            </a>
          </li>
  
          <li class="blog-post-item">
            <a href="#">
  
              <figure class="blog-banner-box">
                <img src="/assets/javascript-framework.webp" alt="Top 10 JavaScript Frameworks" loading="lazy">
              </figure>
  <div class="d-grid justify-content-center">
              <div class="blog-content">
  
                <div class="blog-meta">
                  <p class="blog-category">Development</p>
  
                  <span class="dot"></span>
  
                </div>
  
                <h3 class="h3 blog-item-title">Top 10 JavaScript Frameworks</h3>
  
                <p class="blog-text">
                  A comparison of the most popular JavaScript frameworks for modern web development.
                </p>
  
              </div>
  </div>
            </a>
          </li>
  
          <li class="blog-post-item">
            <a href="#">
  
              <figure class="blog-banner-box">
                <img src="/assets/responsive-web-designimg.webp" alt="Responsive Design Tips" loading="lazy">
              </figure>
  <div class="d-grid justify-content-center">
              <div class="blog-content">
  
                <div class="blog-meta">
                  <p class="blog-category">Design</p>
  
                  <span class="dot"></span>
  
                </div>
  
                <h3 class="h3 blog-item-title">Responsive Design Tips</h3>
  
                <p class="blog-text">
                  Master the art of creating responsive designs for mobile and desktop users.
                </p>
  
              </div>
  </div>
            </a>
          </li>
  
          <li class="blog-post-item">
            <a href="#">
  
              <figure class="blog-banner-box">
                <img src="/assets/web-asscesibility-web-img.jpg" alt="Accessibility in Web Design" loading="lazy">
              </figure>
  <div class="d-grid justify-content-center">
              <div class="blog-content">
  
                <div class="blog-meta">
                  <p class="blog-category">Accessibility</p>
  
                  <span class="dot"></span>
  
                </div>
  
                <h3 class="h3 blog-item-title">Accessibility in Web Design</h3>
  
                <p class="blog-text">
                  Learn how to make your websites accessible to users with disabilities.
                </p>
  
              </div>
  </div>
            </a>
          </li>
  
          <li class="blog-post-item">
            <a href="#">
  
              <figure class="blog-banner-box">
                <img src="/assets/future-development-img.jpg" alt="Future of Frontend Development" loading="lazy">
              </figure>
  <div class="d-grid justify-content-center">
              <div class="blog-content">
  
                <div class="blog-meta">
                  <p class="blog-category">Trends</p>
  
                  <span class="dot"></span>
  
                </div>
  
                <h3 class="h3 blog-item-title">Future of Frontend Development</h3>
  
                <p class="blog-text">
                  Insights into upcoming trends and technologies shaping frontend development.
                </p>
  
              </div>
  </div>
            </a>
          </li>
  
        </ul>
  
      </section>
</div>
<div class="contactpage d-flex" id="contact">
  <section class="width50 hidemobileversion">
    <div>
      <img src="../../assets/contact-img-portfolio.jpg" width="100%"/>
    </div>
  </section>
    <section class="contact-form width50">

        <h3 class="form-title">Get in Touch</h3>
    
        <form [formGroup]="contactForm" (ngSubmit)="submitContactForm()" class="form">
          <div class="input-wrapper d-flex">
            <input type="text" formControlName="fullname" class="form-input" placeholder="Full Name" />
            <input type="email" formControlName="email" class="form-input" placeholder="Email Address" />
          </div>
        
          <textarea formControlName="message" class="form-input" placeholder="Your Message"></textarea>
        
          <button id="submitButton" class="form-btn" type="submit">
            <span>Send Message</span>
          </button>
        </form>        
    
      </section>
</div>